/* Loader Overlay */
#loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #f8fcff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.6s ease;
}

#loader-overlay.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.8s ease;
}

.RadialProgress {
  --hue: 220;
  --holesize: 65%;
  --track-bg: hsl(233, 34%, 92%);
  --progress: 0%;

  height: 50vmin;
  width: 50vmin;
  min-width: 100px;
  min-height: 100px;
  display: grid;
  align-items: center;
  justify-items: center;
  place-items: center;
  position: relative;
  font-weight: 700;
  font-size: max(10vmin, 1.4rem);
  transition: all 0.3s ease; /* smooth number transition */
}

.RadialProgress::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  z-index: -1;
  background: conic-gradient(
    hsl(var(--hue) 100% 70%),
    hsl(var(--hue) 100% 40%),
    hsl(var(--hue) 100% 70%) var(--progress),
    var(--track-bg) var(--progress) 100%
  );

  -webkit-mask-image: radial-gradient(
    transparent var(--holesize),
    black calc(var(--holesize) + 0.5px)
  );
  mask-image: radial-gradient(
    transparent var(--holesize),
    black calc(var(--holesize) + 0.5px)
  );
  transition: background 0.3s ease; /* smooth gradient fill */
}
